//basics

$white:#ffffff;
$black:#222222;


//boundless color palette - updated 2/25/17

$yellow: #ffcc66;
$blue: #40c2d2;
$green: #90d1bb;
$red: #f1675d;
$gray: #58595b;   $gray-background: #58595b;  

$purple: #6772B7;   //purple needs confirmation, hex code not provided





