/*
 * TYPOGRAPHY
 ----------------------------------------------- */

header h1 {
  text-align: center;
  margin: 20% 0 0;
  left: 20%;
  width: 60%;
  right: 20%;
  z-index: 20;
  position: absolute;
  font-size: 4rem;
}