/*
 * GLOBALS
 -------------------------------------------*/

* {
  box-sizing: border-box;
  font-family: Open-Sans;
}
ul,ol {
  padding-left: 1rem;
  li {
    margin: .5rem;
  }
}
a {
  text-decoration: none;
}
blockquote {
  padding: 1rem;
}