// BREAKPOINTS

$breakpoint_xs: 320px;
$breakpoint_s: 480px;
$breakpoint_m: 768px;
$breakpoint_l: 1224px;
$breakpoint_xl: 1824px;

// COLUMNS

$col: 8.33333333333333%;
$pad: 15px;

// COLORS

$white: #ffffff;
$primary: #1e87c5;
$lightgray: #cccccc;
$gray: #888888;
$red: #fc303f;
$green: #59af67;
$black: #000000;

// TYPOGRAPHY

$header: 'Lato', sans-serif;
$body: 'Fira Sans', sans-serif;